
  <mat-toolbar id="nav">
    <span class="navbar-brand mb-0 h1 " id="title">Initiative Order</span>
  </mat-toolbar>



<!-- Create a layout for this to better center the content -->
<div class="container">
  <div class="row" style="padding: 25px"></div>
  <div class="row">
    <div class="col"></div>
    <div class="col-6">
      <div class="card text-center">
        <div class="card-body">
          <button mat-raised-button color="primary" href="/new-init">NEW INITIATIVE</button>
        </div>
      </div>
    </div>
    <div class="col"></div>
  </div>
</div>
<router-outlet></router-outlet>
